html, body   { height: 100%; margin: 0; overflow: hidden; }
body         { display: flex; flex-direction: column; }
#top         { display: flex; flex: 1; min-height: 0; }
#map         { min-width: 0; width: 100%; }
#table-wrapper { overflow-y: auto; min-width: 0; }
#profile     { height: 240px; flex-shrink: 0; }

.gutter { background: #ccc; }
.gutter.gutter-horizontal { cursor: col-resize; }
.gutter.gutter-vertical   { cursor: row-resize; }


.map-cp-label {
    background: #ffffff99;
    border: none;
    box-shadow: none;
    color: black;
    font-size: 14px;
    padding: 0px;
    
}

/* remove the default arrow/tip */
.map-cp-label::before {
    display: none;
}