<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link id="favicon" rel="icon" type="image/x-icon" href="{{ url_for('static', path='/favicon.ico') }}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""/>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
        <script src="https://cdn.jsdelivr.net/npm/d3@7.9.0/dist/d3.min.js"
            integrity="sha256-8glLv2FBs1lyLE/kVOtsSw8OQswQzHr5IfwVj864ZTk="
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6.17/dist/plot.umd.min.js"
            integrity="sha256-Q1gIZGd0B3fdeI1rJ6lc69uu/dUMcwowYBFwc71xNMs="
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/split.js@1.6.5/dist/split.min.js"
            integrity="sha256-wyvSd/7ZjNigQDPU7vNyAdm1CIYYm0u00JnRM/6vFtw="
            crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap" rel="stylesheet">
    </head>

    <body>
        <nav id="mobile-tabs">
            <button type="button" data-view="map" class="active">Map</button>
            <button type="button" data-view="table">Table</button>
            <button type="button" data-view="chart">Chart</button>
        </nav>
        <div id="top">
            <div id="map"></div>
            <div id="table-wrapper">
                <table>
                    <thead>
                        <tr>
                            <th>Posten</th>
                            <th>Soll</th>
                            <th>Ist</th>
                            <th>&#916;</th><!--delta-->
                            <th>Dauer</th>
                            <th>km</th>
                            <th>&#8593;</th><!-- up -->
                            <th>&#8595;</th><!-- down -->
                            <th>&#916;km</th>
                            <th>&#916;&#8593;</th>
                            <th>&#916;&#8595;</th>
                            <th>lkm</th>
                        </tr>
                    </thead>
                    <tbody id="tbody"></tbody>
                </table>
            </div>
        </div>
        <div id="profile"></div>

        <script>
            window.RAW = {
                points:   {{ track.points_as_json | safe }},
                segments: {{ track.segments_as_json | safe }},
                actualPoints: {{ actual_points_json | safe }},
                startTime: new Date("{{ start_time }}"),
                gapPolys: [[1.0719747552984284,3.8950291039596086,14.364768273050313,-17.79284965889736],[1.0309165723755624,1.7226517479035495,10.11708013261488]],
                targetParams: {
                    name: "target",
                    baseSpeed: 8.2 / 3.6,
                    onset:40,
                    lambda:0.020,
                    floor: 0.55
                },
                forecastParams: {
                    name: "forcast",
                    baseSpeed: NaN,
                    onset:NaN,
                    lambda:NaN,
                    floor: NaN
                }
            };

        </script>
        <script type="module" src="{{ url_for('static', path='/main.js') }}"></script>
    </body>
</html>
