<!DOCTYPE html>
<html>
    <head>
        <title>Test</title>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
            integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
            crossorigin=""/>
       <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
       <link id="favicon" rel="icon" type="image/x-icon" href="{{ url_for('static', path='/favicon.ico') }}">
       <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>

       <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
    <script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6"></script>
    </head>
    
    <body>
        <h1>Test...</h1>
        <div id="map"></div>
        <div id="profile"></div>

        <script type="module">
            const map = L.map('map');

            var route = L.polyline(
                {{ track.points_as_js_array }},
                {color: 'darkviolet', opacity: 0.6, weight:5}
            )

            route.addTo(map);

            L.tileLayer('https://wmts.geo.admin.ch/1.0.0/ch.swisstopo.pixelkarte-farbe/default/current/3857/{z}/{x}/{y}.jpeg',
                {
                maxZoom: 18,
                attribution: '&copy; swisstopo'
                }
            ).addTo(map);

            map.fitBounds(route.getBounds())

            const data = {{ track.profile_as_js_array }};
           
            const plot = Plot.plot({
                width: document.querySelector("#profile").clientWidth,
                marks: [
                    Plot.areaY(data, { x: 'dist', y: 'ele', y2: d3.min(data, d => d.ele), fill: '#8884' }),
                    Plot.lineY(data, { x: 'dist', y: 'ele' })
                ]
            });

            document.querySelector("#profile").append(plot);

        </script>
    </body>
<html>